/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	/* font-size: 100%; */
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/* body {
	line-height: 1;
} */
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* UNIVERSAL & GENERAL */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
    border: 1px solid gray; 
}
html {
    font-size: 62.5%;
    font-family: sans-serif;
}
body {
    font-size: 1.6rem;
    line-height: 1.5;
    border: none;
}
section {
    /* padding: 0% 0;  DO WE WANT DEFAULT PADDING? */
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 2rem;
}
a {
    text-decoration: none;
}
span {
    font-weight: bold;
}


/* HEADER */
header {
    border: 2px solid red;
    padding: 1%;
    background-color: #f1faee;
}
h1 {
    margin: 0 1%;
}
nav {
    margin: 0 1%;
    padding: 1%;
    display: flex;
    
}
nav a { /* NAVINGATION BUTTONS*/
    border: 1px solid lightgray;
    padding: 5px 20px;
}


/* SECTION TITLE */
.title {
    border: 5px solid blue;
    display: flex;
}
.title div {
    border: 2px solid greenyellow;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* SECTION 2 */


/* FOOTER */